<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Chi-Square Test](#chisq)**
2. **[One-way ANOVA](#1way)**

**Import the required libraries**

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
import scipy.stats as stats
import math
import random
from random import sample

plt.rcParams['figure.figsize'] = [15,8]

### Let's begin with some hands-on practice exercises

<a id = "chisq"> </a>
## 1. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 1 to 6.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
df = pd.read_csv('Employee_Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [32]:
#NUll : There is no significance difference b/w the observed & expected

#ALTR : There is significance difference b/w the observed & expected


df['Department'].value_counts()

observed_values = [961,446,63]

exp_count = [0.55,0.35,0.10]


exp_values = np.array(exp_count) * len(df)


expected_value = round(pd.Series(exp_values))

expected_value

stats.chisquare(f_obs=observed_values,f_exp=expected_value)

Power_divergenceResult(statistic=85.55482341171547, pvalue=2.642446152388858e-19)

Since p_value is less than 0.05 we reject the null saying that there is significance difference b/w obs & exp

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a critical value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [33]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [34]:
df['JobSatisfaction'].value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

In [35]:
observed_values = [289,280,442,459]

exp_values = [0.2,0.18,0.3,0.32]

In [36]:
exp_values = np.array(exp_values) * len(df)

expected_value = round(pd.Series(exp_values))

expected_value

0    294.0
1    265.0
2    441.0
3    470.0
dtype: float64

In [37]:
stats.chisquare(f_obs=observed_values,f_exp=expected_value)

Power_divergenceResult(statistic=1.1938049995858107, pvalue=0.7544905089954578)

In [38]:
stats.chi2.isf(0.1,df=3)

6.2513886311703235

In [39]:
#  Critical value = 6.25

#  Test statistics = 1.19

Here, we fail to reject H0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The company claims that in the organization, 68% of employees are there with rare travelling, 20% with frequent travelling and 12% of employees does not need to travel for business. Check if the given data fits with the company's claimed distribution. Use the p-value technique with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

(11.987695596739206,
 0.7448263418408124,
 16,
 array([[ 13.36734694,   5.30612245,  26.42857143,  10.40816327,
          14.79591837,   8.16326531,  29.79591837,  33.26530612,
           8.46938776],
        [ 24.68503401,   9.79863946,  48.8047619 ,  19.22040816,
          27.32312925,  15.07482993,  55.02312925,  61.42993197,
          15.64013605],
        [ 92.94761905,  36.8952381 , 183.76666667,  72.37142857,
         102.88095238,  56.76190476, 207.18095238, 231.3047619 ,
          58.89047619]]))

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
df['BusinessTravel'].value_counts()
df['JobRole'].value_counts()

Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

In [21]:
# Null : Busniess travel & Job Role are Independent
# Alter : Business travel & Job Role are Dependent

pd.crosstab(df['BusinessTravel'],df['JobRole'])
stats.chi2_contingency(pd.crosstab(df['BusinessTravel'],df['JobRole']))

(11.987695596739206,
 0.7448263418408124,
 16,
 array([[ 13.36734694,   5.30612245,  26.42857143,  10.40816327,
          14.79591837,   8.16326531,  29.79591837,  33.26530612,
           8.46938776],
        [ 24.68503401,   9.79863946,  48.8047619 ,  19.22040816,
          27.32312925,  15.07482993,  55.02312925,  61.42993197,
          15.64013605],
        [ 92.94761905,  36.8952381 , 183.76666667,  72.37142857,
         102.88095238,  56.76190476, 207.18095238, 231.3047619 ,
          58.89047619]]))

Since p Value is not less than significance level we fail to reject the null and conclude that there is no dependency.

In [22]:
# The value we calculate from the function / formula is our p_value

# The value we get from the mentioned Confidence level is our significance level.

# We need to compare our calculated p_value with the significance level.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Is there any relationship between the attrition of an employee and his/her marital status? Use the  p-value technique to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Check whether travelling for the business depends on the gender of an employee. Use the p-value technique to test the claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<a id = "1way"> </a>
## 2. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 7 to 11.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check whether we can use the given dataset to study the equality of average monthly income of sales executives with a different education background in the company. Use a p-value technique to test at a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [23]:
# Null : Education & Monthly Income are independent

# Altr : Education & Monthly Income are dependent


df_LS = df[df['EducationField']=='Life Sciences']['MonthlyIncome']
df_TD = df[df['EducationField']=='Technical Degree']['MonthlyIncome']
df_mar = df[df['EducationField']=='Marketing']['MonthlyIncome']
df_med = df[df['EducationField']=='Medical']['MonthlyIncome']
df_oth = df[df['EducationField']=='Other']['MonthlyIncome']

In [29]:
#test_statistic = 0.95
# Critical Value

stats.f_oneway(df_LS,df_TD,df_mar,df_med,df_oth)

F_onewayResult(statistic=2.3327106129920803, pvalue=0.05386405746331044)

In [25]:
len(df)

1470

In [26]:
df['EducationField'].nunique()

6

In [28]:
# dfn = no_of_categories - 1 #dfd = no_samples - no_categories

stats.f.isf(0.05,dfn = 4,dfd = 49) 
stats.chisquare.isf(S.L, df= 4)
stats.norm.isf(sl)
stats.t.isf(sl,df)

AttributeError: 'function' object has no attribute 'isf'

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Find the types of business travel for which the average daily rate is different. Use a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>